# Unreal Engine generated output
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/ProjectFiles/
/Plugins/**/Binaries/
/Plugins/**/Intermediate/
/Plugins/**/Temp/

# Generated build/package artifacts
/Build/**/FileOpenOrder/
/Build/WindowsNoEditor/

# IDE and editor local state
/.vs/
/.idea/
/Content/*
!/Content/Blueprints/
!/Content/Assets/
!/Content/Config/
/Platforms/
*.VC.db
*.VC.opendb
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.user
*.userprefs
*.code-workspace
.vsconfig

# Platform/editor noise
.DS_Store
Thumbs.db
Desktop.ini

# Xcode project files
*.xcodeproj
*.xcworkspace
/enc_temp_folder
/enc_temp_folder
/enc_temp_folder/b4b7b3e09c2815afea82f8e12a724f17
/enc_temp_folder
/Plugins/BehaviorU/BehaviacLauncher/build
/Plugins/BehaviorU/BehaviacLauncher/packages
*.log
